[project]
	description = Watercooler
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Akhil Anil (nanospeck)
[access "refs/for/refs/*"]
	read = group user/Akhil Anil (nanospeck)
	push = group user/Akhil Anil (nanospeck)
	label-Code-Review = -2..+2 group user/Akhil Anil (nanospeck)
	label-Verified = -1..+1 group user/Akhil Anil (nanospeck)
	rebase = group user/Akhil Anil (nanospeck)
	removeReviewer = group user/Akhil Anil (nanospeck)
	submit = group user/Akhil Anil (nanospeck)
[access "refs/heads/*"]
	read = group user/Akhil Anil (nanospeck)
	create = group user/Akhil Anil (nanospeck)
	push = +force group user/Akhil Anil (nanospeck)
	pushMerge = group user/Akhil Anil (nanospeck)
[access "refs/tags/*"]
	push = +force group user/Akhil Anil (nanospeck)
	pushTag = group user/Akhil Anil (nanospeck)
	pushSignedTag = group user/Akhil Anil (nanospeck)
